# Flutter & Dart
.dart_tool/
.packages
.pub/
.melos_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Build & coverage outputs
build/
coverage/

# IDE/editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# System files
.DS_Store
Thumbs.db
*.log

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.keystore
android/app/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/

# Xcode
**/*.xcuserstate
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/

# Misc
# For Flutter apps it's okay to commit pubspec.lock
